body {
    background-color: antiquewhite;
    text-align: center;
}
p  {
    color:black
}
.muse {
    width: 70%;
}
body {
    color: white;
    background: rgb(253, 249, 244);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0);
}

section {
    background: rgb(255, 247, 236);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
